{% include base_path %}
<div class="org-logos">
  <div class="org-logo"><img src="{{ base_path }}/images/iitb.png" alt="IIT Bombay" /><span>Indian Institute of Technology Bombay</span></div>
  <div class="org-logo"><img src="{{ base_path }}/images/umich.png" alt="University of Michigan" /><span>University of Michigan</span></div>
  <div class="org-logo"><img src="{{ base_path }}/images/uoft.png" alt="University of Toronto" /><span>University of Toronto</span></div>
  <div class="org-logo"><img src="{{ base_path }}/images/arc.png" alt="ARC" /><span>Automotive Research Center</span></div>
  <div class="org-logo"><img src="{{ base_path }}/images/isuzu.png" alt="ITCA" /><span>Isuzu Technical Center of America</span></div>
</div>
